#filter {
  user-select: none;
  position: absolute;
  background-color: #1A412C;
  padding: 10px;
  border-radius: 15px;
}

.closed {
  display: none;
}

#filter label {
  color: #eeeeee;
  font-weight: 500;
  font-size: 13px;
  width: 150px;
  display: flex;
  align-items: center;
  text-align: right;
}

#filter label::after {
  content: ':';
}

.img-button {
  user-select: none;
  width: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.img-button img {
  width: 100%;
  background-color: transparent;
  opacity: 0.6;
}

.img-button img:hover {
  opacity: 1;
}

.filter {
  font-family: nunito, sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 3px;
  height: 35px;
  outline: none;
  border: none;
}

#filter .filter-header {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-transform: lowercase;
}

.filter:focus {
  outline: none;
}

.filter-dropdown {
  margin: 5px 0 5px 5px;
  border-radius: 20px 0 0 20px;
  width: 50px;
  text-align: right;
}

.filter-value {
  margin: 5px 5px 5px 0px;
  border-radius: 0 20px 20px 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #filter {
    width: 100w;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 601px) {
  #filter::before {
    content: "";
    position: absolute;
    top: 7%;
    left: -20px;
    border: solid 10px transparent;
    border-right-color: #1A412C;
    z-index: 1;
  }

  #filter {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    border-top-left-radius: 8px;
  }
}