/* https://codepen.io/devstreak/pen/dMYgeO */
/* custom scrollbar works only on webkit browsers */
/* Chrome, Edge (chromium), Opera, Safari */
#sidebar::-webkit-scrollbar-track {}

#sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #255C3E;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, 0.3);
}

#sidebar {
  background-color: #255C3E;
  width: 300px;
  z-index: -1;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}

#sidebar-search-container {
  z-index: 1;
  width: 300px;
  position: relative;
  background-color: #1A412C;
  margin: 0;
  padding: 0;
  transition: transform 0.4s;
}

#sidebar-search {
  border-radius: 10px;
  border: none;
  background-color: #76C89B;
  margin: 10px;
  padding: 5px;
  width: 75%;
  font-family: nunito, sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: transform 0.2s;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  transform: none;
}

.sidebar-listing:active,
.sidebar-listing:link,
.sidebar-listing:visited,
sidebar-listing {
  position: static;
  user-select: none;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 3px rgba(0, 50, 0, 1);
  border-radius: 5px;
  margin: 5px 10px;
  padding: 10px;
  text-decoration: none;
  color: #1f1f1f;
}

.sidebar-listing:hover {
  background-color: rgba(255, 255, 255, 0.10);
}

.sidebar-name {
  font-family: nunito, sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.sidebar-abbrev {
  font-family: inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-price::before {
  content: '$';
}

.sidebar-price {
  font-family: nunito, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-change {
  margin: 3px 10px;
  font-family: nunito, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.sidebar-change::after {
  content: '%';
}

.gain::before {
  content: '▲';
}

.loss::before {
  content: '▼'
}

.loss {
  color: #ff0000;
  text-shadow: 0px 0px 6px rgba(255, 0, 0, 0.2);
}

.gain {
  color: #4DB385;
}

.no-change {
  color: #FFFF6D;
}