* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* https://codepen.io/devstreak/pen/dMYgeO */
/* custom scrollbar works only on webkit browsers */
/* Chrome, Edge (chromium), Opera, Safari */
#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}

#header {
  padding: 15px;
  background-color: #2d6a4f;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, .5);
}

#header h1 {
  font-family: Inconsolata, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b7e4c7
}

.container {
  display: flex;
}

.column {
  flex-flow: column;
}