* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#header {
  padding: 15px;
  background-color: #2d6a4f;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, .5);
}

#header h1 {
  font-family: Inconsolata, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b7e4c7
}

.container {
  display: flex;
  align-items: center;
}

.column {
  flex-flow: column;
}